@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #d70c42;
  position: fixed;
  width: 100vw;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-container {
  padding: 100px 20px 20px 20px;
}

.input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

.button-search {
  border-radius: 10px;
  height: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__link {
  flex-basis: calc((100% - 60px) / 4);
}

.photo-card {
  outline: solid 1px rgb(229, 17, 98);
  border-radius: 4px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.photo-card img {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  height: 40px;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  display: block;
}

.hidden {
  display: none;
}

/* .infitity-scroll {
  width: 200px;
  background-color: #d70c42;
  height: 200px;
  margin-left: 50%;
} */
